<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="">
      <h2> Register </h2>
    </div>
    <script>
    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

    <!-- Login Form -->
    <form method="POST" action="{{url_for('register')}}">
      {{form.csrf_token}}
        <div>
          {{form.email.label}}
        </div>
        <div>
          {{form.email}}
          <ul>
          {% for error in form.email.errors %}
          <li style="color:red;">{{error}}</li>
          </ul>
          {% endfor %}
        </div>
        <div>
          {{form.password.label}}
          {{form.password}}
          <ul>
          {% for error in form.password.errors %}
          <li style="color:red;">{{error}}</li>
          </ul>
          {% endfor %}
        </div>
            <div>
              {{form.confirm.label}}
              {{form.confirm}}
              <ul>
              {% for error in form.confirm.errors %}
              <li style="color:red;">{{error}}</li>
              </ul>
              {% endfor %}
            </div>
                       


      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>


    </div>
</div>
</body>
</html>
